.row {
  margin-left: 15px;
  margin-top: 50px;
}

@media (max-width:400px){
  .row{
    margin-left: 0px;
  }
}

.image_generic {
  width: 260px;

  padding: 6px;
  transition: all 0.4s ease;
  max-height: 350px;
  object-fit: contain;
}
.image_large {
  object-fit: contain;

  padding: 6px;
  width: 200px;
  transition: all 0.4s ease;
  max-height: 350px;
}
.image_large:hover {
  cursor: pointer;
  transform: scale(1.09);
  transition: all 0.4s ease;
}
.image_generic:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: all 0.4s ease;
}


.image_wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
@media (max-width:400px){
  .image_wrapper{
    margin-left: 0px;
  }

  .image_large{
    padding: 3px;
    width: 150px;
    transition: all 0.4s ease;
    max-height: 300px;
  }
  .image_generic {
    width: 180px;
  
    padding: 3px;
    transition: all 0.4s ease;
    max-height: 320px;
    object-fit: contain;
  }
  

}
.image_wrapper::-webkit-scrollbar {
  display: none;
}
