.logincard{
    width: 30%;
    z-index: 999;
    height: 80%;
  border-radius: 2px;
     display: flex;
     flex-direction: column;
    position: relative;
     align-items: center;
     -moz-box-shadow: 13px 13px 0px 0px #FFFFFF;
     -webkit-box-shadow: 13px 13px 0px 0px #FFFFFF;
      box-shadow: 10px 5px 10px 5px  #FFFFFF;

     background-color: rgba(0,0,0,.75);
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
}
.logincard>.inputs{
    width: 80%;
  color: #fff;
    margin-top: 40px;
    padding: 15px 5px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: rgba(173, 171, 171, 0.5);
    border-radius: 0.5rem;
}
.logincard>h1{
    font-size: 3rem;
    margin-top:30px ;
}
.logincard>button{
    width: 80%;
    padding: 15px 5px;
    font-size: 20px;
    border: none;
    border-radius: 0.5rem;
    margin-left: 38px;
    margin-top: 25px;
}
.logincard>.checkbox{
    color: white;
   position: absolute;
   bottom: 55px;
   left: 45px;
}
.logincard>.p{
    position: absolute;
    bottom: 33px;
    left: 65px; 
}

.logincard>p{
    position: absolute;
    bottom: 10px;
    left: 45px;
}

